@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-family: Lato, Arial, sans-serif;
  color: #353535;
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #76b833;
}

a:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
